# setuptools-scm by default adds all SCM tracked files, we prune the following maintenance related ones (sdist only)
exclude .gitignore

exclude azure-pipelines.yml
exclude readthedocs.yml
exclude MANIFEST.in
